-- Check current approvers
SELECT email, can_approve FROM approver_emails WHERE can_approve = true;

-- Show all approvers
SELECT * FROM approver_emails;

-- Check RLS policies for leave_requests
SELECT
  schemaname,
  tablename,
  policyname,
  permissive,
  roles,
  qual as using_condition,
  with_check as check_condition
FROM pg_policies
WHERE tablename = 'leave_requests';

-- Check if user can approve via API (simulate)
-- Replace 'user@example.com' with actual user email
SELECT
  'Check if user@example.com can approve' as test,
  CASE
    WHEN EXISTS (SELECT 1 FROM approver_emails WHERE email = 'user@example.com' AND can_approve = true)
    THEN 'YES - Can approve'
    ELSE 'NO - Cannot approve'
  END as result;
